.profileRoot {
  width: 300px;
  max-height: 300px;
  min-height: 100px;
  margin: auto;
  margin-bottom: 3rem;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
